@{
    Layout = null;
}
<div>
    @* Nothing here *@
    <p>Logout ......</p>

</div>


<script>
    window.onload = function () {
        window.location.href = "@Url.Action("Logout", "Authentication")";
    }

</script>