table.dataTable thead tr > .dtfc-fixed-left, table.dataTable thead tr > .dtfc-fixed-right, table.dataTable tfoot tr > .dtfc-fixed-left, table.dataTable tfoot tr > .dtfc-fixed-right {
    top: 0;
    bottom: 0;
    z-index: 3;
    background-color: white
}

table.dataTable tbody tr > .dtfc-fixed-left, table.dataTable tbody tr > .dtfc-fixed-right {
    z-index: 1;
    background-color: white
}

div.dtfc-left-top-blocker, div.dtfc-right-top-blocker {
    background-color: white
}

html.dark table.dataTable thead tr > .dtfc-fixed-left, html.dark table.dataTable thead tr > .dtfc-fixed-right, html.dark table.dataTable tfoot tr > .dtfc-fixed-left, html.dark table.dataTable tfoot tr > .dtfc-fixed-right {
    background-color: var(--dt-html-background)
}

html.dark table.dataTable tbody tr > .dtfc-fixed-left, html.dark table.dataTable tbody tr > .dtfc-fixed-right {
    background-color: var(--dt-html-background)
}

html.dark div.dtfc-left-top-blocker, html.dark div.dtfc-right-top-blocker {
    background-color: var(--dt-html-background)
}

div.dtfc-right-top-blocker, div.dtfc-left-top-blocker {
    margin-top: 6px;
    border-bottom: 0px solid #ddd !important
}

table.dataTable.table-bordered.dtfc-has-left {
    border-left: none
}

div.dataTables_scroll.dtfc-has-left table.table-bordered {
    border-left: none
}

div.dataTables_scrollBody {
    border-left: 1px solid #ddd !important
}

div.dataTables_scrollFootInner table.table-bordered tr th:first-child, div.dataTables_scrollHeadInner table.table-bordered tr th:first-child {
    border-left: 1px solid #ddd !important
}

html[data-bs-theme=dark] table.dataTable thead tr > .dtfc-fixed-left, html[data-bs-theme=dark] table.dataTable thead tr > .dtfc-fixed-right, html[data-bs-theme=dark] table.dataTable tfoot tr > .dtfc-fixed-left, html[data-bs-theme=dark] table.dataTable tfoot tr > .dtfc-fixed-right {
    background-color: var(--bs-body-bg)
}

html[data-bs-theme=dark] table.dataTable tbody tr > .dtfc-fixed-left, html[data-bs-theme=dark] table.dataTable tbody tr > .dtfc-fixed-right {
    background-color: var(--bs-body-bg)
}

html[data-bs-theme=dark] div.dtfc-left-top-blocker, html[data-bs-theme=dark] div.dtfc-right-top-blocker {
    background-color: var(--bs-body-bg)
}

html[data-bs-theme=dark] div.dataTables_scrollBody {
    border-left-color: var(--bs-border-color) !important
}

html[data-bs-theme=dark] div.dataTables_scrollFootInner table.table-bordered tr th:first-child, html[data-bs-theme=dark] div.dataTables_scrollHeadInner table.table-bordered tr th:first-child {
    border-left-color: var(--bs-border-color) !important
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td.child, table.dataTable.dtr-inline.collapsed > tbody > tr > th.child, table.dataTable.dtr-inline.collapsed > tbody > tr > td.dataTables_empty {
    cursor: default !important
}

    table.dataTable.dtr-inline.collapsed > tbody > tr > td.child:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th.child:before, table.dataTable.dtr-inline.collapsed > tbody > tr > td.dataTables_empty:before {
        display: none !important
    }

table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control, table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control {
    cursor: pointer
}

    table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control:before {
        margin-right: .5em;
        display: inline-block;
        color: rgba(0, 0, 0, 0.5);
        content: "►"
    }

    table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control.arrow-right::before, table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control.arrow-right::before {
        content: "◄"
    }

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td.dtr-control:before, table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th.dtr-control:before {
    content: "▼"
}

table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td.dtr-control, table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th.dtr-control {
    padding-left: .333em
}

table.dataTable.dtr-column > tbody > tr > td.dtr-control, table.dataTable.dtr-column > tbody > tr > th.dtr-control, table.dataTable.dtr-column > tbody > tr > td.control, table.dataTable.dtr-column > tbody > tr > th.control {
    cursor: pointer
}

    table.dataTable.dtr-column > tbody > tr > td.dtr-control:before, table.dataTable.dtr-column > tbody > tr > th.dtr-control:before, table.dataTable.dtr-column > tbody > tr > td.control:before, table.dataTable.dtr-column > tbody > tr > th.control:before {
        display: inline-block;
        color: rgba(0, 0, 0, 0.5);
        content: "►"
    }

    table.dataTable.dtr-column > tbody > tr > td.dtr-control.arrow-right::before, table.dataTable.dtr-column > tbody > tr > th.dtr-control.arrow-right::before, table.dataTable.dtr-column > tbody > tr > td.control.arrow-right::before, table.dataTable.dtr-column > tbody > tr > th.control.arrow-right::before {
        content: "◄"
    }

table.dataTable.dtr-column > tbody > tr.parent td.dtr-control:before, table.dataTable.dtr-column > tbody > tr.parent th.dtr-control:before, table.dataTable.dtr-column > tbody > tr.parent td.control:before, table.dataTable.dtr-column > tbody > tr.parent th.control:before {
    content: "▼"
}

table.dataTable > tbody > tr.child {
    padding: .5em 1em
}

    table.dataTable > tbody > tr.child:hover {
        background: transparent !important
    }

    table.dataTable > tbody > tr.child ul.dtr-details {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0
    }

        table.dataTable > tbody > tr.child ul.dtr-details > li {
            border-bottom: 1px solid #efefef;
            padding: .5em 0
        }

            table.dataTable > tbody > tr.child ul.dtr-details > li:first-child {
                padding-top: 0
            }

            table.dataTable > tbody > tr.child ul.dtr-details > li:last-child {
                padding-bottom: 0;
                border-bottom: none
            }

    table.dataTable > tbody > tr.child span.dtr-title {
        display: inline-block;
        min-width: 75px;
        font-weight: bold
    }

div.dtr-modal {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    padding: 10em 1em
}

    div.dtr-modal div.dtr-modal-display {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 50%;
        height: fit-content;
        max-height: 75%;
        overflow: auto;
        margin: auto;
        z-index: 102;
        overflow: auto;
        background-color: #f5f5f7;
        border: 1px solid black;
        border-radius: .5em;
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6)
    }

    div.dtr-modal div.dtr-modal-content {
        position: relative;
        padding: 2.5em
    }

        div.dtr-modal div.dtr-modal-content h2 {
            margin-top: 0
        }

    div.dtr-modal div.dtr-modal-close {
        position: absolute;
        top: 6px;
        right: 6px;
        width: 22px;
        height: 22px;
        text-align: center;
        border-radius: 3px;
        cursor: pointer;
        z-index: 12
    }

    div.dtr-modal div.dtr-modal-background {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 101;
        background: rgba(0, 0, 0, 0.6)
    }

@media screen and (max-width: 767px) {
    div.dtr-modal div.dtr-modal-display {
        width: 95%
    }
}

html.dark table.dataTable > tbody > tr > td.dtr-control:before {
    color: rgba(255, 255, 255, 0.5) !important
}

html.dark table.dataTable > tbody > tr.child ul.dtr-details > li {
    border-bottom-color: rgb(64, 67, 70)
}

html.dark div.dtr-modal div.dtr-modal-display {
    background-color: rgb(33, 37, 41);
    border: 1px solid rgba(255, 255, 255, 0.15)
}

div.dtr-bs-modal table.table tr:first-child td {
    border-top: none
}

table.dataTable.table-bordered th.dtr-control.dtr-hidden + *, table.dataTable.table-bordered td.dtr-control.dtr-hidden + * {
    border-left-width: 1px
}
div.dt-rowReorder-float-parent {
    table-layout: fixed;
    outline: 2px solid #0d6efd;
    z-index: 2001;
    position: absolute !important;
    overflow: hidden;
    border-radius: 3px
}

    div.dt-rowReorder-float-parent table.dt-rowReorder-float {
        opacity: .9;
        background-color: white;
        margin: 0 !important
    }

    div.dt-rowReorder-float-parent.drop-not-allowed {
        cursor: not-allowed
    }

tr.dt-rowReorder-moving {
    outline: 2px solid #888;
    outline-offset: -2px
}

body.dt-rowReorder-noOverflow {
    overflow-x: hidden
}

table.dataTable td.reorder {
    text-align: center;
    cursor: move
}

html.dark div.dt-rowReorder-float-parent {
    outline-color: rgb(110, 168, 254)
}

    html.dark div.dt-rowReorder-float-parent table.dt-rowReorder-float {
        background-color: var(--dt-html-background)
    }

html.dark tr.dt-rowReorder-moving {
    outline-color: #aaa
}

html[data-bs-theme=dark] div.dt-rowReorder-float-parent {
    outline-color: rgb(13, 110, 253)
}
div.dts {
    display: block !important
}

    div.dts tbody th, div.dts tbody td {
        white-space: nowrap
    }

    div.dts div.dts_loading {
        z-index: 1
    }

    div.dts div.dts_label {
        position: absolute;
        right: 20px;
        background: rgba(0, 0, 0, 0.8);
        color: white;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
        text-align: right;
        border-radius: 3px;
        padding: .4em;
        z-index: 2;
        display: none
    }

    div.dts div.dataTables_scrollBody {
        background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0.025) 10px, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0) 20px)
    }

        div.dts div.dataTables_scrollBody table {
            background-color: white;
            z-index: 2
        }

    div.dts div.dataTables_paginate, div.dts div.dataTables_length {
        display: none
    }

html.dark div.dts div.dts_label {
    background: rgba(255, 255, 255, 0.8);
    color: black
}

html.dark div.dts div.dataTables_scrollBody {
    background: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.025), rgba(255, 255, 255, 0.025) 10px, rgba(255, 255, 255, 0) 10px, rgba(255, 255, 255, 0) 20px)
}

    html.dark div.dts div.dataTables_scrollBody table {
        background-color: var(--dt-html-background);
        z-index: 2
    }

div.DTS div.dataTables_scrollBody table {
    background-color: white
}

html[data-bs-theme=dark] div.DTS div.dataTables_scrollBody table {
    background-color: var(--bs-body-bg)
}